h1 {
    margin-left:350px;
}


.calculator {
    padding-top: 20px;
    margin-top:30px ;
    margin-left:465px;
    height: 450px;
    width: 350px; 
    background-color: grey;
    border-radius: 5%;
}

#screen {
    margin-left: 25px;
    height: 50px;
    width: 215px;
    background-color: green;
    font-size: 30px;
    font-weight: 3px; 
    color: black;
}

button {
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}
